<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Notification Main</title>

    <script th:src="@{/webjars/jquery/1.11.3/jquery.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <script src="/static/js/notifications/notiMain.js"></script>
</head>
<body onload="notiInit();">
<div class="container theme-showcase">
    <div class="row">
        <div>
            <a href="#">
                <h3>Notifications Main</h3>
            </a>
        </div>
        <div>
            <h6>Websocket status:
                <span id="webSocketStatus">

                </span>
            </h6>
        </div>

        <ul class="nav nav-pills">
            <li>
                <a href="#"> Notifications
                    <span id="notiCnt" class="badge"></span>
                </a>
            </li>
        </ul>

        <div id="notiData" class="col-sm-7">
            <!--
            <a href="#" class="list-group-item">
                Sample1
            </a>
            <a href="#" class="list-group-item">
                Sample2
            </a>
            -->
        </div>
    </div>
</div>
</body>
</html>