<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>board master</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script data-main="/js/app" src="/webjarsjs"></script>
    <script th:src="@{/webjars/requirejs/2.1.17/require.min.js}"></script>
</head>
<body>
<form name="boardMasterRegisterForm" method="POST" th:action="@{/board/master/create/}">
    <p><input type="text" name="boardNm" placeholder="게시판명"/></p>
    <p><input type="text" name="boardEtc" placeholder="게시판설명"/></p>
    <p>
        <select name="boardType" placeholder="게시판타입">
        <option value="1">공지형</option>
        </select>
    </p>
    <button type="submit">확인</button>
</form>
</body>
</html>