<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Study Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script data-main="/js/app" src="/webjarsjs"></script>
    <script th:src="@{/webjars/requirejs/2.1.17/require.min.js}"></script>
</head>
<body>
    <form name="studyGroupRegisterForm" method="POST" th:action="@{/api/study/group/}">
        <p><input type="text" name="groupName" placeholder="그룹명"/></p>
        <p><input type="text" name="groupCreateUserId" value="testUser1" readonly/></p>
        <p><input type="text" name="groupLeaderUserId" value="testUser1" readonly/></p>
        <p><input type="text" name="groupGoals" placeholder="그룹목표"/></p>
        <p><input type="text" name="groupDesc" placeholder="그룹설명"/></p>
        <button type="submit">확인</button>
    </form>
</body>
</html>