<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Study Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="studyApp" class="continer">
        <div class="col-lg-3 well">
            <form id="changeId" name="changeId" method="POST" th:action="@{/study/changeId}">
                <div class="form-group">
                <label for="userId">아이디</label>
                    <input th:type="text" id="userId" name="userId" th:value="${session.userId}" />
                    <button tyep="submit"> 변경 </button>
                </div>
            </form>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createModal">
                    스터디그룹 생성
                </button>
            </div>
        </div>
        <div id="body" class="col-lg-8 col-lg-offset-1 well">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <strong>그룹명</strong>
                </div>
                <div class="col-lg-5 col-lg-offset-1 text-center">
                        <strong>그룹 설명</strong>
                </div>
                <div class="col-lg-2 text-center">
                    <strong>리더</strong>
                </div>
                <div class="col-lg-1 text-center">
                    &nbsp;
                </div>
            </div>
            <div id="studyGroupList">
            </div>
        </div>
        <footer>
            <div class="continer">
                <div  id="footer" class="row">
                </div>
            </div>
        </footer>

        <script id="studyTemplate" type="text/template">
            <div class="col-lg-3">
                <%= studyName %>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <a href="javascript:groupInfo('<=% id %>')">
                    <%= studyDesc %>
                </a>
            </div>
            <div class="col-lg-2">
                <%= leader %>
            </div>
            <div class="col-lg-1">
                <a href="javascript:studyJoin('<%= id %>')"> 가입 </a>
            </div>
        </script>
        <!-- Modal -->
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="studyModalLabel" aria-hidden="true">
            <form id="studyRegisterForm" name="studyRegisterForm" method="POST" th:action="@{/study/create}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="studyModalLabel">스터디그룹 생성</h4>
                        </div>
                        <div class="modal-body">
                            <div clas="form-group">
                                <label for="studyName">스터디 그룹 이름</label>
                                <input type="text" class="form-control" name="studyName" id="studyName"/>
                            </div>
                            <div clas="form-group">
                                <label for="studyDesc">스터디 그룹 설명</label>
                                <input type="text" class="form-control" name="studyDesc" id="studyDesc"/>
                            </div>
                            <input type="button" onclick="studyFind()" value="찾기"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">만들기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/webjars/jquery/1.11.3/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/underscorejs/1.8.3/underscore.js}"></script>
<script th:src="@{/webjars/backbonejs/1.1.2/backbone.js}"></script>
<script th:src="@{/webjars/requirejs/2.1.17/require.min.js}"></script>

<script type="text/javaScript">

    function studyJoin(studyId){
        $('#studyRegisterForm').attr("action","/study/join/"+studyId).submit();
    }
    function studyFind(){
        document.studyRegisterForm.action = "/study/find/";
        document.studyRegisterForm.submit();
    }

    function groupInfo(id){

    }

    (function ($){
        // 백본 모델
        var StudyGroupModel = Backbone.Model.extend({
            defaults:{
                studyName : "스터디 그룹",
                studyDesc : ""
            }
        });
        // 백본 뷰 1line
        var StudyView = Backbone.View.extend({
            tagName:"div",
            className : "studyContainer row",
            template : $('#studyTemplate').html(),
            render:function(){
                var tmpl = _.template(this.template);
                this.$el.html(tmpl(this.model.toJSON()));
                return this;
            }
        });
        // 백본 컬렉션
        window.StudyGroupList = Backbone.Collection.extend({
            url: '/study/list'
        });
        window.StudyGroupList = new StudyGroupList();

        // 백본 앱 뷰
        var StudyAppView = Backbone.View.extend({
            el: $("#studyApp"),
            initialize: function() {
                this.main = this.$("#body");
//                this.allCheckbox = this.$("#toggle-all")[0];

                this.listenTo(StudyGroupList, 'add', this.addOne);
                this.listenTo(StudyGroupList, 'reset', this.addAll);
                this.listenTo(StudyGroupList, 'all', this.render);
                StudyGroupList.fetch();
            },

            render: function() {
            },
            addOne: function(study) {
                var view = new StudyView({model: study});
                this.$("#studyGroupList").append(view.render().el);
            },
            addAll: function() {
                StudyGroupList.each(this.addOne, this);
            }
        });
        var App = new StudyAppView;
    })(jQuery);
</script>
</html>