<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>board </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script data-main="/js/app" src="/webjarsjs"></script>
    <script th:src="@{/webjars/requirejs/2.1.17/require.min.js}"></script>
</head>
<body>
<form name="boardMasterRegisterForm" th:method="PUT" th:action="@{'/board/'+${boardId}+'/update/'+${id}}">
    <p><input type="text" name="subject" placeholder="제목" th:value="${board.subject}"/></p>
    <p><input type="text" name="regName" placeholder="등록자명" th:value="${board.regName}"/></p>
    <p><input type="text" name="regId" placeholder="등록자Id" th:value="${board.regId}"/></p>
    <p><textarea cols="10" name="content" rows="5" placeholder="내용" th:value="${board.content}"></textarea></p>
    <button type="submit">확인</button>
</form>
</body>
</html>